*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(315deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
} 
.container{
    margin-left: -10%;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    column-gap: 200px;
    row-gap: 10px;
}

.container .card{
    position: relative;
    border-radius: 20px;
    left: -10%;
    width: 550px;
    height: 350px;
    margin: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}
.container .card .prd{
    margin-left: 5%;
    margin-top: -40%;
    color: blueviolet;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: rebeccapurple;
    text-decoration-style: dotted;
}
.container .card:hover .prd{
    color: #fff;
    opacity: 0;
    visibility: none;
}
.container .card img{
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translate(-50%);
    height: 200px;
    transition: 0.5s;
}
.container .card:hover img{
    left: 75%;
    height: 300px;
}
.container .card .content{
    position: absolute;
    width: 50%;
    left: 40%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.container .card:hover .content{
    left: -30px;
    opacity: 1;
    visibility: visible;
}
.container .card .content h2{
    color: orangered;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}
.container .card .content p{
    color: blue;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: plum;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: paleturquoise;
}

@media (max-width: 991px){
    body{
        position: relative;
        display: flex;
        margin-left: 5380px;
        margin-right: 2700px;
        margin-top: -75px;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        min-width: -1000px;
        margin-right: 10px;
        font-size: larger;
        background: linear-gradient(315deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    } 
    .container{
        margin-left: 200px;
        margin-right: 50px;
        display: flex;
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px;
        column-gap: 2px;
    }
    .container .card{
        width: 600px;
        max-width: 540px;
        align-items: flex-start;
    }
    .container .card:hover{
        height: 550px;
    }
    .container .card .prd{
        margin-left: 5%;
        margin-top: 15%;
    }
}
